:root {
  --material-green: #4caf50;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 30px 1fr 20px;
  grid-template-columns: repeat(2, 1fr);
}

.app.populated {
  grid-template-areas:
    "topbar topbar"
    "toolbar toolbar"
    "editor preview"
    "bottombar bottombar";
}

.app.empty {
  grid-template-areas:
    "topbar topbar"
    "toolbar toolbar"
    "blank blank"
    "bottombar bottombar";
}

.empty-open {
  position: absolute;
  font-size: 25px;
  top: 90px;
  left: 10px;
}

.empty-open > i {
  margin-right: 10px;
  font-size: 30px;
}

.blank {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: blank;
  font-size: 70px;
  color: #aaa;
  user-select: none;
}